/*------------------------------------------------------------------
[ cards ]*/

/* card-hero-info */

.card-hero-info {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-title {
        font-weight: 500;
        line-height: 1;
        margin-bottom: 15px;
    }

    .card-btn-wrapper {
        margin-top: 15px;
    }
    
    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
    
        .hero-title {
            margin-bottom: 20px;
        }

        .card-btn-wrapper {
            margin-top: 40px;
        }
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 50px;
        --bs-card-spacer-x: 50px;

        .hero-title {
            line-height: 1.1;
             margin-bottom: 30px;
        }
    }
}

/* card-glass */

.card-glass {
    --bs-card-spacer-y: 10px;
    --bs-card-spacer-x: 10px;
    --bs-card-border-color: transparent;
    // --bs-card-bg: rgb(227 227 227 / 6%);
    --bs-card-bg: transparent;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='700' height='120' viewBox='0 0 700 120' fill='none'%3E%3Cg filter='url(%23filter0_n_3078_16013)'%3E%3Crect width='700' height='120' fill='%23EEF4FE' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_n_3078_16013' x='0' y='0' width='700' height='120' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2 2' stitchTiles='stitch' numOctaves='3' result='noise' seed='8947'/%3E%3CfeColorMatrix in='noise' type='luminanceToAlpha' result='alphaNoise'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise1' result='noise1Clipped'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise2'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise2' result='noise2Clipped'/%3E%3CfeFlood flood-color='rgba(22, 29, 77, 0.1)' result='color1Flood'/%3E%3CfeComposite operator='in' in2='noise1Clipped' in='color1Flood' result='color1'/%3E%3CfeFlood flood-color='rgba(238, 244, 254, 0.1)' result='color2Flood'/%3E%3CfeComposite operator='in' in2='noise2Clipped' in='color2Flood' result='color2'/%3E%3CfeMerge result='effect1_noise_3078_16013'%3E%3CfeMergeNode in='shape'/%3E%3CfeMergeNode in='color1'/%3E%3CfeMergeNode in='color2'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    box-shadow: -5px -5px 40px 0px rgba(238, 244, 254, 0.14) inset;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: var(--bs-card-border-radius);
        padding: 1px;
        background: linear-gradient(309.65deg, rgba(16, 1, 2, 0.5) 42.38%, rgba(240, 242, 255, 0.5) 88.92%);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;
    }

    .card-body {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .card-media {
        flex-shrink: 0;
        width: 60px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 15px;
        --bs-card-spacer-x: 10px;
        
        .card-body {
            gap: 20px;
        }
    }
    
    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 20px;
        --bs-card-spacer-x: 20px;
    
        .card-media {
            width: 80px;
        }
    }

    @include media-breakpoint-up(xxl) {
        .card-media {
            width: 100px;
        }
    }
}

/* card-service */

.card-service {
    --bs-card-spacer-y: 15px;
    --bs-card-spacer-x: 15px;
    --bs-card-height: 170px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);

    .card-bg-img {
        position: absolute;
        bottom: calc(0px - var(--bs-card-border-width));
        left: auto;
        right: 15px;
        max-width: 120px;
        width: 100%;
        height: auto;
        transition: all 0.6s ease;
    }

    // &:hover {
    //     .card-bg-img {
    //         opacity: 1;
    //     }
    // }

    .card-body {
        position: relative;
    }

    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;
        --bs-card-height: 262px;

        .card-bg-img {
            left: 30px;
            right: auto;
            max-width: 200px;
            opacity: 0.1;
        }
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
        --bs-card-height: 320px;

        .card-bg-img {
            left: 40px;
            max-width: 240px;
        }
    }
}

/* card-project */

.card-project {
    --bs-card-spacer-y: 15px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-head {
        margin-bottom: 10px;
    }

    .project-logo {
        max-width: 150px;
    }

    .card-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .card-project-features-wrapper {
        flex: 1 1 auto;
        margin-top: 20px;
    }

    .card-project-features {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4px;

        &__item {
            min-height: 80px;
            padding: 10px;
            border-radius: var(--bs-border-radius);
            background-color: var(--theme-blue-light);
        }
    }

    .card-btn-wrapper {
        margin-top: 10px;
    }

    // Максимальная ширина

    @include media-breakpoint-down(lg) {
        .card-media {
            height: 200px;
        }
    }

    // Минимальная ширина

    @include media-breakpoint-up(sm) {
        .card-project-features {
            gap: 4px;
            grid-template-columns: 1fr 1fr;
        }
    }

    @include media-breakpoint-up(md) {
        .card-project-features {
            gap: 10px;
        }
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr;

        .card-project-features {
            grid-template-columns: 1fr;
        }
    }

    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
        grid-template-columns: 1fr;

        .card-media {
            display: none;
        }

        .card-head {
            margin-bottom: 30px;
        }

        .project-logo {
            max-width: 240px;
        }

        .card-tags {
            justify-content: flex-end;

            a {
                font-size: 16px;
            }
        }

        .card-project-features-wrapper {
            margin-top: 30px;
        }

        .card-project-features {
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            &__item {
                min-height: 130px;
                padding: 16px;
            }
        }

        .card-btn-wrapper {
            margin-top: 30px;
        }
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 50px;
        --bs-card-spacer-x: 50px;
        grid-template-columns: 1fr 1fr;

        .card-media {
            display: block;
        }

        .card-head {
            min-height: 75px;
        }

        .card-tags {
            a {
                font-size: 20px;
                padding: 10px 16px;
            }
        }

        .card-project-features {
            &__item {
                padding: 20px;
            }
        }
    }
}

/* card-tariff-plan */

.card-tariff-plan {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);
    border: none !important;

    .card-body {
        padding-bottom: 0;
    }

    .card-heading {
        margin-bottom: 15px;
    }

    .card-title {
        text-align: center;
        color: var(--theme-blue);
        margin-bottom: 15px;
    }

    .card-subtitle {
        text-align: center;
        margin-bottom: 15px;

        .tag-pill {
            display: inline-block;
            color: var(--theme-blue);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.1;
            padding: 10px 20px;
            border: 1px solid var(--theme-blue);
            border-radius: var(--bs-border-radius-pill);
            background-color: transparent;
            transition: 0.3s ease;
        }
    }

    .card-price {
        text-align: center;
        color: var(--theme-black);
        margin-bottom: 15px;
    }

    .card-sale-info {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;
            text-align: center;
        }

        &__without {
            color: var(--theme-blue);
            font-size: 14px;
            font-weight: 400;
            padding: 10px 20px;
            border-radius: var(--bs-border-radius-pill);
            background-color: var(--theme-blue-light);
        }

        &__savings {
            color: var(--theme-green);
            font-size: 14px;
            font-weight: 400;
            padding: 10px 20px;
            border-radius: var(--bs-border-radius-pill);
            background-color: var(--theme-green-light);
        }
    }

    .card-heading-description {
        margin-bottom: 20px;

        .remark-item {
            padding: 10px;
            border-radius: var(--bs-border-radius);
            background-color: var(--theme-blue-light);

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }

            .remark-title {
                color: var(--theme-black);
                margin-bottom: 2px;
            }
        }
    }

    .remark-item {
        display: flex;
        gap: 8px;

        &__icon {
            flex-shrink: 0;
            -webkit-user-select: none;
            -moz-user-select: none; 
            user-select: none;

            img, svg {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .card-btn-wrp {
        text-align: center;
    }

    .card-btn-more {
        --bs-btn-color: var(--theme-black);
        --bs-btn-bg: transparent;
        --bs-btn-border-color: transparent;
        --bs-btn-hover-color: var(--theme-black-60);
        --bs-btn-hover-bg: transparent;
        --bs-btn-hover-border-color: transparent;
        --bs-btn-active-color: var(--theme-black-60);
        --bs-btn-active-bg: transparent;
        --bs-btn-active-border-color: transparent;

        svg {
            transition: 0.3s ease;
        }

        &:not(.collapsed) .title-show-more,
        &.collapsed .title-show-less {
            display: none;
        }

        &:not(.collapsed) svg {
            transform: rotate(180deg);
        }
    }

    .card-collapse-description {
        padding-top: 10px;

        .remark-item {
            align-items: center;
        }

        .remark-list-title {
            gap: 10px;
            color: var(--theme-black);
            font-family: var(--theme-ff-title);
            font-size: var(--fs-h4);
            font-weight: 500;
            margin-bottom: 10px;
        }

        .remark-list-item {
            color: var(--theme-black-60);
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 12px;
        }
    }

    .card-bottom {
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        padding-top: 10px;
    }

    // hover

    &:hover {
        background-image: var(--theme-blue-gradient);

        .card-title {
            color: var(--theme-white);
        }

        .card-subtitle {
            .tag-pill {
                color: var(--theme-white);
                border-color: var(--theme-white);
            }
        }

        .card-price {
            color: var(--theme-white);
        }

        .card-btn-more {
            --bs-btn-color: var(--theme-white);
            --bs-btn-hover-color: var(--theme-white-60);
            --bs-btn-active-color: var(--theme-white-60);
        }

        .card-collapse-description {
            .remark-list-title {
                color: var(--theme-white);
            }

            .remark-list-item {
                color: var(--theme-white-60);
            }
        }

        .card-bottom {
            .btn-outline-black {
                --bs-btn-color: var(--theme-white);
                --bs-btn-bg: var(--theme-black);
                --bs-btn-border-color: var(--theme-black);
            }
        }
    }

    // Максимальная ширина

    @include media-breakpoint-down(lg) {
        background-image: var(--theme-blue-gradient);

        .card-title {
            color: var(--theme-white);
        }

        .card-subtitle {
            .tag-pill {
                color: var(--theme-white);
                border-color: var(--theme-white);
            }
        }

        .card-price {
            color: var(--theme-white);
        }

        .card-btn-more {
            --bs-btn-color: var(--theme-white);
            --bs-btn-hover-color: var(--theme-white-60);
            --bs-btn-active-color: var(--theme-white-60);
        }

        .card-collapse-description {
            .remark-list-title {
                color: var(--theme-white);
            }

            .remark-list-item {
                color: var(--theme-white-60);
            }
        }

        .card-bottom {
            .btn-outline-black {
                --bs-btn-color: var(--theme-white);
                --bs-btn-bg: var(--theme-black);
                --bs-btn-border-color: var(--theme-black);
            }
        }
    }

    // Минимальная ширина

    @include media-breakpoint-up(lg) {
        .card-sale-info {
            &__wrapper {
                flex-direction: row;
                justify-content: center;
                gap: 0;
                width: auto;
                border-radius: var(--bs-border-radius-pill);
                background-color: var(--theme-blue-light);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 50px;
        --bs-card-spacer-x: 50px;

        .card-heading {
            margin-bottom: 20px;
        }

        .card-title {
            margin-bottom: 20px;
        }

        .card-subtitle {
            margin-bottom: 20px;
        }

        .card-price {
            margin-bottom: 20px;
        }
    }
}

/* card-review */

.card-review {
    --bs-card-spacer-y: 15px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);
    border: none !important;

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-heading {
        flex: 1 1 auto;
        margin-bottom: 30px;
    }

    .card-title {
        margin-bottom: 4px;
    }

    .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;

        .card-heading {
            margin-bottom: 40px;
        }

        .card-title {
            margin-bottom: 20px;
        }
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;

        .card-heading {
            margin-bottom: 50px;
        }
    }
}

/* card-blog */

.card-blog {
    --bs-card-spacer-y: 15px;
    --bs-card-spacer-x: 15px;
    --bs-card-bg: var(--theme-white);
    position: relative;
    overflow: hidden;
    border: none !important;
    
    .card-media {
        position: relative;
        overflow: hidden;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .card-top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .card-author {
        --bs-link-color-rgb: var(--theme-black-rgb);
        --bs-link-hover-color-rgb: var(--theme-blue-rgb);
        display: flex;
        align-items: flex-end;
        gap: 4px;

        .card-avatar-wrapper {
            flex-shrink: 0;
            width: 40px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        a {
            text-decoration: underline;
        }
    }

    .card-date {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--theme-black);
        line-height: 1;

        svg {
            flex-shrink: 0;
        }
    }

    .card-title {
        margin-bottom: 4px;
    }

    .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
    }

    .card-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .card-bottom {
        display: flex;
        gap: 10px;
        color: var(--theme-black);
        margin-top: 20px;
    }

    .card-views {
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
            flex-shrink: 0;
        }
    }

    .card-read-time {
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
            flex-shrink: 0;
        }
    }

    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;

        .card-media {
            height: 280px;
        }

        .card-title {
            margin-bottom: 10px;
        }
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;

        .card-body {
            padding-top: 20px;
        }

        .card-description {
            margin-bottom: 20px;
        }

        .card-tags {
            a {
                padding: 8px 16px;
            }
        }
    }
}

/* card-partner */

.card-partner {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;

    .card-img-preview {
        max-width: 100%;
        height: auto;
    }

    .content-default {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: 0.9s ease;
    }

    .content-hidden {
        transform: translateY(100%);
        opacity: 0;
        transition: 0.9s ease;
    }

    &:hover {
        --bs-card-bg: var(--theme-blue-light);

        .content-default {
            transform: translateY(-100%);
            opacity: 0;
        }

        .content-hidden {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    // Максимальная ширина

    @include media-breakpoint-down(md) {
        .content-default {
            display: none;
        }

        .content-hidden {
            opacity: 1;
            transform: none;
        }
    }

    // Минимальная ширина

    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
    }
}

/* card-stage */

.card-stage {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-border-color: transparent;
    --bs-card-bg: var(--theme-white);

    .bg-img-bottom {
        background-size: contain;
    }

    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
    }
}