/*------------------------------------------------------------------
[ cards ]*/

/* card-hero-info */

.card-hero-info {
    --bs-card-spacer-y: 20px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--bs-white);
    flex-grow: 1;
    margin-bottom: 30px;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-title {
        font-weight: 500;
        margin-bottom: 15px;
    }

    .card-btn-wrapper {
        margin-top: 15px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 20px;
    }
    
    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
    
        .hero-title {
            margin-bottom: 20px;
        }

        .card-btn-wrapper {
            margin-top: 40px;
        }
    }

    @include media-breakpoint-up(xxl) {
        --bs-card-spacer-y: 50px;
        --bs-card-spacer-x: 50px;
        margin-bottom: 30px;
    }
}

/* card-glass */

.card-glass {
    --bs-card-spacer-y: 10px;
    --bs-card-spacer-x: 10px;
    --bs-card-border-color: transparent;
    // --bs-card-bg: rgb(227 227 227 / 6%);
    --bs-card-bg: transparent;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='700' height='120' viewBox='0 0 700 120' fill='none'%3E%3Cg filter='url(%23filter0_n_3078_16013)'%3E%3Crect width='700' height='120' fill='%23EEF4FE' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_n_3078_16013' x='0' y='0' width='700' height='120' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2 2' stitchTiles='stitch' numOctaves='3' result='noise' seed='8947'/%3E%3CfeColorMatrix in='noise' type='luminanceToAlpha' result='alphaNoise'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise1' result='noise1Clipped'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise2'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise2' result='noise2Clipped'/%3E%3CfeFlood flood-color='rgba(22, 29, 77, 0.1)' result='color1Flood'/%3E%3CfeComposite operator='in' in2='noise1Clipped' in='color1Flood' result='color1'/%3E%3CfeFlood flood-color='rgba(238, 244, 254, 0.1)' result='color2Flood'/%3E%3CfeComposite operator='in' in2='noise2Clipped' in='color2Flood' result='color2'/%3E%3CfeMerge result='effect1_noise_3078_16013'%3E%3CfeMergeNode in='shape'/%3E%3CfeMergeNode in='color1'/%3E%3CfeMergeNode in='color2'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    box-shadow: -5px -5px 40px 0px rgba(238, 244, 254, 0.14) inset;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: var(--bs-card-border-radius);
        padding: 1px;
        background: linear-gradient(309.65deg, rgba(16, 1, 2, 0.5) 42.38%, rgba(240, 242, 255, 0.5) 88.92%);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;
    }

    .card-body {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .card-media {
        flex-shrink: 0;
        width: 60px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 15px;
        --bs-card-spacer-x: 10px;
        
        .card-body {
            gap: 20px;
        }
    }
    
    @include media-breakpoint-up(xl) {
        --bs-card-spacer-y: 20px;
        --bs-card-spacer-x: 20px;
    
        .card-media {
            width: 80px;
        }
    }

    @include media-breakpoint-up(xxl) {
        .card-media {
            width: 100px;
        }
    }
}

/* card-service */

.card-service {
    --bs-card-spacer-y: 15px;
    --bs-card-spacer-x: 15px;
    --bs-card-height: 170px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);

    .card-bg-img {
        position: absolute;
        bottom: calc(0px - var(--bs-card-border-width));
        left: auto;
        right: 15px;
        max-width: 120px;
        width: 100%;
        height: auto;
        transition: all 0.6s ease;
    }

    // &:hover {
    //     .card-bg-img {
    //         opacity: 1;
    //     }
    // }

    .card-body {
        position: relative;
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;
        --bs-card-height: 262px;

        .card-bg-img {
            left: 30px;
            right: auto;
            max-width: 200px;
            opacity: 0.1;
        }
    }
}

/* card-project */

.card-project {
    // --bs-card-spacer-y: 15px;
    // --bs-card-spacer-x: 15px;
    --bs-card-border-color: transparent;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-head {
        margin-bottom: 30px;
    }

    .card-tags {
        --bs-link-color-rgb: var(--theme-blue-rgb);
        --bs-link-hover-color-rgb: var(--theme-black-rgb);
        display: flex;
        flex-wrap: wrap;
        gap: 4px;

        a {
            display: inline-block;
            font-size: 13px;
            line-height: 1;
            border: 1px solid var(--theme-blue);
            border-radius: 50px;
            padding: 8px 12px;

            &:hover {
                border-color: var(--theme-black);
            }
        }
    }

    .card-project-features-wrapper {
        flex: 1 1 auto;
        margin-top: 30px;
    }

    .card-project-features {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4px;

        &__item {
            min-height: 80px;
            padding: 16px;
            border-radius: var(--bs-border-radius);
            background-color: var(--theme-blue-light);
        }
    }

    .card-btn-wrapper {
        margin-top: 30px;
    }

    @include media-breakpoint-down(lg) {
        .card-media {
            height: 200px;
        }
    }

    @include media-breakpoint-up(sm) {
        .card-project-features {
            gap: 8px;
            grid-template-columns: 1fr 1fr;

            &__item {
                min-height: 130px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 40px;
        --bs-card-spacer-x: 40px;
        grid-template-columns: 1fr 1fr;

        .card-tags {

            a {
                font-size: 16px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr;

        .card-media {
            display: none;
        }

        .card-tags {
            justify-content: flex-end;
        }
    }

    @include media-breakpoint-up(xxl) {
        grid-template-columns: 1fr 1fr;

        .card-media {
            display: block;
        }

        .card-head {
            min-height: 75px;
        }
    }
}

/* card-review */

.card-review {
    --bs-card-spacer-y: 15px;
    --bs-card-spacer-x: 15px;
    --bs-card-border-radius: var(--bs-border-radius-lg);
    --bs-card-bg: var(--theme-white);
    border: none !important;

    .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;
    }
}

/* card-blog */

.card-blog {
    --bs-card-spacer-y: 15px;
    --bs-card-spacer-x: 15px;
    --bs-card-bg: var(--theme-white);
    position: relative;
    overflow: hidden;
    border: none !important;
    
    .card-media {
        position: relative;
        overflow: hidden;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        padding-top: 10px !important;
    }

    .card-top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .card-author {
        --bs-link-color-rgb: var(--theme-black-rgb);
        --bs-link-hover-color-rgb: var(--theme-blue-rgb);
        display: flex;
        align-items: flex-end;
        gap: 4px;

        .card-avatar-wrapper {
            flex-shrink: 0;
            width: 40px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        a {
            text-decoration: underline;
        }
    }

    .card-date {
        display: flex;
        align-items: center;
        gap: 4px;
        line-height: 1;

        svg {
            flex-shrink: 0;
        }
    }

    .card-description {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
    }

    .card-tags {
        --bs-link-color-rgb: var(--theme-blue-rgb);
        --bs-link-bg-color-rgb: var(--theme-blue-light-rgb);
        --bs-link-hover-color-rgb: var(--theme-white-rgb);
        --bs-link-hover-bg-color-rgb: var(--theme-black-rgb);
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin-bottom: 20px;

        a {
            display: inline-block;
            font-size: 14px;
            padding: 4px 10px;
            border-radius: var(--bs-border-radius-lg);
            background-color: rgb(var(--bs-link-bg-color-rgb));

            &:hover {
                background-color: rgb(var(--bs-link-hover-bg-color-rgb));
            }
        }
    }

    .card-bottom {
        display: flex;
        gap: 10px;
    }

    .card-views {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        line-height: 1;

        svg {
            flex-shrink: 0;
        }
    }

    .card-read-time {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        line-height: 1;

        svg {
            flex-shrink: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        --bs-card-spacer-y: 30px;
        --bs-card-spacer-x: 30px;

        .card-media {
            height: 280px;
        }
    }
}