/*------------------------------------------------------------------
[ footer ]*/

.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px 0;

    &__cta-bar {

        .cta-content {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            // &__logo {}

            &__contacts {
                --bs-link-color-rgb: var(--theme-white-rgb);
                --bs-link-hover-color-rgb: var(--theme-black-rgb);
                display: flex;
                flex-direction: column;

                // .contact-link {}

                .contact-socials {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-top: 30px;

                    // .link-social {}

                    @media (min-width: 992px) {
                        justify-content: flex-end;
                    }
                }

                @media (min-width: 992px) {
                    text-align: right;
                }
            }

            // &__form-title {}

            &__form {

                .form-wrapper {
                    overflow: hidden;
                    padding: 25px 15px;
                    border-radius: var(--bs-border-radius);
                    border: 1px solid transparent;
                    // background: rgba(238, 244, 254, 0.05);
                    background-color: transparent;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='700' height='120' viewBox='0 0 700 120' fill='none'%3E%3Cg filter='url(%23filter0_n_3078_16013)'%3E%3Crect width='700' height='120' fill='%23EEF4FE' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_n_3078_16013' x='0' y='0' width='700' height='120' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2 2' stitchTiles='stitch' numOctaves='3' result='noise' seed='8947'/%3E%3CfeColorMatrix in='noise' type='luminanceToAlpha' result='alphaNoise'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise1' result='noise1Clipped'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise2'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise2' result='noise2Clipped'/%3E%3CfeFlood flood-color='rgba(22, 29, 77, 0.1)' result='color1Flood'/%3E%3CfeComposite operator='in' in2='noise1Clipped' in='color1Flood' result='color1'/%3E%3CfeFlood flood-color='rgba(238, 244, 254, 0.1)' result='color2Flood'/%3E%3CfeComposite operator='in' in2='noise2Clipped' in='color2Flood' result='color2'/%3E%3CfeMerge result='effect1_noise_3078_16013'%3E%3CfeMergeNode in='shape'/%3E%3CfeMergeNode in='color1'/%3E%3CfeMergeNode in='color2'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
                    backdrop-filter: blur(15px);
                    box-shadow: -5px -5px 40px 0px rgba(238, 244, 254, 0.14) inset;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: var(--bs-border-radius);
                        padding: 1px;
                        background: linear-gradient(309.65deg, rgba(16, 1, 2, 0.5) 42.38%, rgba(240, 242, 255, 0.5) 88.92%);
                        -webkit-mask: 
                            linear-gradient(#fff 0 0) content-box, 
                            linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                                mask-composite: exclude;
                        pointer-events: none;
                    }

                    @media (min-width: 992px) {
                        padding: 30px;
                    }
                }
            }
            
            @media (min-width: 992px) {
                grid-template-columns: 1fr 1fr;

                &__logo {
                    grid-row: 1 / 3;
                    grid-column: 1 / 2;
                }
    
                &__contacts {
                    grid-row: 1 / 4;
                    grid-column: 2 / 3;
                }
    
                &__form-title {
                    grid-row: 3 / 4;
                    grid-column: 1 / 2;

                    .h4 br {
                        display: none;
                    }
                }
    
                &__form {
                    grid-row: 4 / 5;
                    grid-column: 1 / 3;
                }
            }
        }
    }

    // &__main-bar {}
    
    &__copyright-bar {
        
        .copyright-text {

            span {
                display: inline-block;
            }
        }
    }

    .footer-widget {
        padding: 15px 0;

        &__title {
            margin-bottom: 8px;

            // .h3 {
            //     margin-bottom: 0;
            // }

            > *:not(.collapse-link) {

                @media (max-width: 991px) {
                    display: none;
                }
            }

            .collapse-link {
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg {
                    transition: all 0.3s ease;
                }

                &:not(.collapsed) svg {
                    transform: rotate(180deg);
                }

                @media (min-width: 992px) {
                    display: none;
                }
            }
        }

        .collapse {

            @media (min-width: 992px) {
                display: block !important;
            }
        }

        &__menu {
            .nav {
                --bs-nav-link-padding-x: 0;
                --bs-nav-link-color: rgba(var(--theme-black-rgb), 0.6);
            }
        }

        @media (min-width: 992px) {
            padding: 20px 0;
        }
    }

    @media (min-width: 414px) {
        gap: 20px;
    }
}