/*------------------------------------------------------------------
[ general ]*/

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    flex: 1;
}

// Custom Scrollbar

// ::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
// }

// ::-webkit-scrollbar-track {
//     background-color: #F5F5F5;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: #120E1E;
// }

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-blue-gradient {
    background-image: var(--theme-blue-gradient);
}

.bg-red-gradient {
    background-image: var(--theme-red-gradient);
}

// paddings

.p-15 {
    padding: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

// margins

.mt-15 {
    margin-top: 15px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

// gaps

.gap-10 {
    gap: 10px !important;
}

.gap-20 {
    gap: 20px !important;
}

// Максимальная ширина

@include media-breakpoint-down(xl) {
    .hide-on-mobile {
        display: none !important;
    }
}

// Минимальная ширина

@include media-breakpoint-up(md) {
    // margins

    .mb-md-20 {
        margin-bottom: 20px !important;
    }

    .mb-md-40 {
        margin-bottom: 40px !important;
    }

    .mb-md-70 {
        margin-bottom: 70px !important;
    }
}

@include media-breakpoint-up(xl) {
    // paddings

    .p-xl-20 {
        padding: 20px !important;
    }

    // margins

    .mb-xl-40 {
        margin-bottom: 40px !important;
    }

    .mb-xl-60 {
        margin-bottom: 60px !important;
    }

    .mb-xl-80 {
        margin-bottom: 80px !important;
    }
}

@include media-breakpoint-up(xxl) {
    // margins

    .mb-xxl-30 {
        margin-bottom: 30px !important;
    }

    .mb-xxl-50 {
        margin-bottom: 50px !important;
    }

    .mb-xxl-110 {
        margin-bottom: 110px !important;
    }
}

@media (min-width: 1920px) {
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1860px;
    }
}