/*------------------------------------------------------------------
[ general ]*/

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    flex: 1;
}

// Custom Scrollbar

// ::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
// }

// ::-webkit-scrollbar-track {
//     background-color: #F5F5F5;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: #120E1E;
// }

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-blue-gradient {
    background-image: var(--theme-blue-gradient);
}

.bg-red-gradient {
    background-image: var(--theme-red-gradient);
}

// .opacity-60 {
//     opacity: 0.6 !important
// }

.text-opacity-60 {
    --bs-text-opacity: 0.6;
}

.link-opacity-60 {
    --bs-link-opacity: 0.6;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-40 {
    padding: 40px !important;
}

.py-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.gap-10 {
    gap: 10px !important;
}

@include media-breakpoint-up(lg) {

    .p-lg-20 {
        padding: 20px !important;
    }

    .p-lg-40 {
        padding: 40px !important;
    }

    .py-lg-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .mb-lg-40 {
        margin-bottom: 40px !important;
    }
}

@media (min-width: 1920px) {

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1860px;
    }
}