/*------------------------------------------------------------------
[ links ]*/

a {
    text-decoration: none;
}

.link-white {
    --bs-link-color-rgb: var(--theme-white-rgb);
    --bs-link-hover-color-rgb: var(--theme-white-60-rgb);
}

.link-black {
    --bs-link-color-rgb: var(--theme-black-rgb);
    --bs-link-hover-color-rgb: var(--theme-blue-rgb);
}

.link-blue {
    --bs-link-color-rgb: var(--theme-blue-rgb);
    --bs-link-hover-color-rgb: var(--theme-black-rgb);
}

.link-blue-60 {
    --bs-link-color-rgb: var(--theme-blue-60-rgb);
    --bs-link-hover-color-rgb: var(--theme-blue-rgb);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.tag-pill-primary {
    --bs-link-color-rgb: var(--theme-blue-rgb);
    --bs-link-bg-color-rgb: var(--theme-blue-light-rgb);
    --bs-link-hover-color-rgb: var(--theme-white-rgb);
    --bs-link-hover-bg-color-rgb: var(--theme-black-rgb);
    display: inline-block;
    font-size: var(--fs-small);
    line-height: 1.2;
    padding: 4px 10px;
    border-radius: var(--bs-border-radius-lg);
    background-color: rgb(var(--bs-link-bg-color-rgb));
    transition: 0.3s ease;

    &:hover {
        background-color: rgb(var(--bs-link-hover-bg-color-rgb));
    }

    @include media-breakpoint-up(xxl) {
        padding: 8px 16px;
    }
}