/*------------------------------------------------------------------
[ modals ]*/

.modal {
    --bs-modal-padding: 1rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: var(--bs-border-radius-lg);
}