/*------------------------------------------------------------------
[ modals ]*/

.modal {
    --bs-modal-padding: 1rem;
    --bs-modal-bg: var(--bs-white);
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: var(--bs-border-radius-lg);
}

.modal-backdrop {
    --bs-backdrop-bg: rgba(0, 0, 67);
}

/* modal-consultation */

.modal-consultation {
    --bs-modal-width: 960px;
    --bs-modal-padding: 20px 15px;

    .bg-absolute-img {
        position: absolute;
        top: -15%;
        left: -39%;
        max-width: 200%;
        height: auto;
    }

    @include media-breakpoint-up(md) {
        --bs-modal-padding: 40px;
    }

    @include media-breakpoint-up(lg) {
        .btn-close {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .modal-body {
            width: 60%;
            margin-left: auto;
        }
    }
}

/*------------------------------------------------------------------
[ offcanvas ]*/

.offcanvas {
    --bs-offcanvas-bg: var(--bs-white);
}

.offcanvas-backdrop {
    background: rgba(0, 0, 67);
}

/* offcanvas-contact */

.offcanvas-contact {
    --bs-offcanvas-width: auto;
    --bs-offcanvas-height: 95vh;
    --bs-offcanvas-padding-x: 15px;
    --bs-offcanvas-padding-y: 20px;
    right: 15px;
    left: 15px;
    overflow: hidden;
    width: var(--bs-offcanvas-width);
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    transform: translateY(100%);

    @include media-breakpoint-up(md) {
        --bs-offcanvas-padding-x: 40px;
        --bs-offcanvas-padding-y: 40px;
    }

    @include media-breakpoint-up(lg) {
        --bs-offcanvas-width: 640px;
        --bs-offcanvas-height: 90vh;
        right: 30px;
        left: auto;
    }
}

/* offcanvas-mobilemenu */

.offcanvas-mobilemenu {
    --bs-offcanvas-height: 95vh;
    top: 15px !important;
    right: 15px !important;
    left: 15px !important;
}