/*------------------------------------------------------------------
[ sections ]*/

.section {
    position: relative;
}

/*------------------------------------------------------------------
[ home page ]*/

/* section-home-hero */

.section-home-hero {
    position: relative;
    padding-top: 81px;
    background-color: #000;

    .container-fluid {
        height: 100%;
    }

    .hero-grid {
        display: grid;
        grid-template-columns: 1fr;
        // grid-column-gap: 0;
        // grid-row-gap: 30px;
        height: 100%;

        .grid-col {
            min-width: 0;
            min-height: 0
        }
    }

    .hero-video-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .desktop-video {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }

        .mobile-image {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .card-hero-info {
        margin-bottom: 30px;
    }

    .hero-swiper-wrapper {
        min-width: 0;
        margin-bottom: 30px;
    }

    // Максимальная ширина

    @include media-breakpoint-down(sm) {
        .hero-video-wrapper {
            .mobile-image {
                img {
                    max-height: 250px;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .hero-video-wrapper {
            .desktop-video {
                display: none;
            }
        }
    }

    // Минимальная ширина

    @include media-breakpoint-up(md) {
        .hero-video-wrapper {
            .mobile-image {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 106px;

        .hero-grid {
            grid-template-columns: 1fr 1fr;
        }

        .card-hero-info {
            margin-bottom: 20px;
        }

        .hero-swiper-wrapper {
            margin-bottom: 20px;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: 114px;
    }

    @include media-breakpoint-up(xxl) {
        padding-top: 150px;

        .card-hero-info {
            margin-bottom: 30px;
        }

        .hero-swiper-wrapper {
            margin-bottom: 30px;
        }
    }
}

/* section-clients-slider */

.section-clients-slider {
    margin-bottom: 60px;

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 80px;
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: 110px;
    }
}

/* section-services-grid */

.section-services-grid {
    margin-bottom: 60px;

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    &__btn-wrp {
        margin-top: 15px;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;

        &__grid {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__heading {
            margin-bottom: 20px;
        }
        
        &__grid {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4px;
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 80px;

        &__heading {
            margin-bottom: 40px;
        }

        &__grid {
            gap: 20px;
        }

        &__btn-wrp {
            display: none;
        }
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: 110px;

        &__heading {
            margin-bottom: 50px;
        }

        &__grid {
            gap: 30px;
        }
    }
}

/* section-projects-grid */

.section-projects-grid {
    margin-bottom: 60px;

    &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    &__btn-wrp {
        margin-top: 15px;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;

        &__grid {
            gap: 20px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__heading {
            margin-bottom: 20px;
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 80px;

        &__heading {
            margin-bottom: 40px;
        }

        &__grid {
            grid-template-columns: 1fr 1fr;
        }

        &__btn-wrp {
            display: none;
        }
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: 110px;

        &__heading {
            margin-bottom: 50px;
        }

        &__grid {
            grid-template-columns: 1fr;
        }
    }
}

/* section-cta */

.section-cta {
    margin-bottom: 60px;

    .cta-wrapper {
        position: relative;
        overflow: hidden;
        padding: 20px 15px;
        border-radius: var(--bs-border-radius-lg);
        background-image: var(--theme-blue-gradient);
    }

    .bg-absolute-img {
        position: absolute;
        top: 88px;
        left: -25px;
        width: 700px;
        height: auto;
    }

    .cta-content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;

        &__heading {
            max-width: 615px;
        }

        &__form {
            margin-top: 40px;

            .form-wrapper {
                overflow: hidden;
                padding: 25px 15px;
                border-radius: var(--bs-border-radius);
                border: 1px solid transparent;
                background-color: transparent;
                background-size: cover;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='700' height='120' viewBox='0 0 700 120' fill='none'%3E%3Cg filter='url(%23filter0_n_3078_16013)'%3E%3Crect width='700' height='120' fill='%23EEF4FE' fill-opacity='0.05'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_n_3078_16013' x='0' y='0' width='700' height='120' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2 2' stitchTiles='stitch' numOctaves='3' result='noise' seed='8947'/%3E%3CfeColorMatrix in='noise' type='luminanceToAlpha' result='alphaNoise'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise1'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise1' result='noise1Clipped'/%3E%3CfeComponentTransfer in='alphaNoise' result='coloredNoise2'%3E%3CfeFuncA type='discrete' tableValues='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 '/%3E%3C/feComponentTransfer%3E%3CfeComposite operator='in' in2='shape' in='coloredNoise2' result='noise2Clipped'/%3E%3CfeFlood flood-color='rgba(22, 29, 77, 0.1)' result='color1Flood'/%3E%3CfeComposite operator='in' in2='noise1Clipped' in='color1Flood' result='color1'/%3E%3CfeFlood flood-color='rgba(238, 244, 254, 0.1)' result='color2Flood'/%3E%3CfeComposite operator='in' in2='noise2Clipped' in='color2Flood' result='color2'/%3E%3CfeMerge result='effect1_noise_3078_16013'%3E%3CfeMergeNode in='shape'/%3E%3CfeMergeNode in='color1'/%3E%3CfeMergeNode in='color2'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
                backdrop-filter: blur(15px);
                box-shadow: -5px -5px 40px 0px rgba(238, 244, 254, 0.14) inset;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: var(--bs-border-radius);
                    padding: 1px;
                    background: linear-gradient(309.65deg, rgba(16, 1, 2, 0.5) 42.38%, rgba(240, 242, 255, 0.5) 88.92%);
                    -webkit-mask: 
                        linear-gradient(#fff 0 0) content-box, 
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                            mask-composite: exclude;
                    pointer-events: none;
                }
            }
        }

        &__socials {

            .content-divider {
                width: 100%;
                height: 1px;
                max-width: 500px;
                margin-top: 20px;
                margin-bottom: 20px;
                background-color: rgba(255, 255, 255, 0.5);
            }

            .content-wrapper {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
            }

            .contact-socials {
                display: flex;
                gap: 8px;

                .link-social svg {
                    flex-shrink: 0;
                    width: 50px;
                    height: auto;
                }
            }
        }
    }

    @include media-breakpoint-up(sm) {

        // .bg-absolute-img {}

        .cta-content {

            &__socials {

                .content-divider {
                    margin-bottom: 40px;
                }

                .content-wrapper {
                    // flex-direction: row;
                    // align-items: center;
                    gap: 12px;
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;

        .bg-absolute-img {
            top: 50px;
            left: 85px;
            width: 800px;
        }
    }

    @include media-breakpoint-up(lg) {

        .cta-wrapper {
            padding: 15px;
        }

        .bg-absolute-img {
            top: -30px;
            left: 345px;
            width: 800px;
        }

        .cta-content {
            grid-template-columns: 1fr minmax(100px, 200px) 1fr;

            &__heading {
                grid-row: 1 / 3;
                grid-column: 1 / 2;
            }

            &__form {
                grid-row: 1 / 4;
                grid-column: 3 / 4;
                margin-top: 0;

                .form-wrapper {
                    padding: 30px;
                }
            }

            &__socials {
                grid-row: 3 / 4;
                grid-column: 1 / 2;

                .content-wrapper {
                    max-width: 500px;
                    gap: 15px;
                }

                .contact-socials {
                    .link-social svg {
                        width: 60px;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 80px;

        .cta-wrapper {
            padding: 40px;
        }

        .bg-absolute-img {
            top: -105px;
            left: 335px;
            width: 1100px;
        }

        .cta-content {
            grid-template-columns: 600px auto 400px;
        }
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: 110px;

        .cta-wrapper {
            padding: 50px;
        }

        .bg-absolute-img {
            top: -140px;
            left: 405px;
            width: 1200px;
        }

        .cta-content {
            grid-template-columns: 600px auto 480px;

            &__socials {
                .content-wrapper {
                    gap: 20px;
                }
            }
        }
    }
}

/* section-tariffs */

.section-tariffs {
    margin-bottom: 50px;

    .section-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;
    }

    @include media-breakpoint-up(lg) {
        .section-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 80px;
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: 110px;
    }
}

/* section-partners-slider */

.section-partners-slider {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 80px;
    }
}

/* section-reviews-slider */

.section-reviews-slider {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 80px;
    }
}

/* section-blog-slider */

.section-blog-slider {
    margin-bottom: 60px;

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
}

/* section-faq-accordion */

.section-faq-accordion {
    margin-bottom: 50px;

    @include media-breakpoint-up(md) {
        margin-bottom: 70px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 80px;
    }
}

.accordion-faq {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-white);
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 0;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon-transform: rotate(-90deg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-active-color: var(--bs-body-color);
    --bs-accordion-active-bg: var(--bs-white);

    .accordion-item {
        overflow: hidden;
        padding: 15px;
        border: none !important;
        border-radius: var(--bs-border-radius-lg) !important;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        @include media-breakpoint-up(lg) {
            padding: 30px 40px;
        }
    }

    .accordion-divider {
        height: 10px;
    }

    .accordion-button {
        gap: 15px;
        border-radius: 0 !important;
        box-shadow: none !important;

        &::after {
            content: none;
        }

        .accordion-icon {
            flex-shrink: 0;
            margin-left: auto;
    
            svg {
                transition: var(--bs-accordion-btn-icon-transition);
            }
        }
        
        &:not(.collapsed) {

            .accordion-icon svg {
                transform: var(--bs-accordion-btn-icon-transform);
            }
        }
    }


    .accordion-content {
        max-width: 820px;

        a {
            text-decoration: underline;

            // &:hover {
            //     text-decoration: none;
            // }
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}