/*------------------------------------------------------------------
[ swiper ]*/

/* swiperHeroGlassCards */

.swiperHeroGlassCards {
    --swiper-theme-color: var(--bs-white);
    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-inactive-color: var(--bs-white);
    --swiper-pagination-bullet-inactive-opacity: 0.4;

    .swiper-wrapper {
        margin-bottom: 28px;
    }
}

/* swiperClients */

.swiperClients {

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
    
    .swiper-img {
        padding: 40px 20px;

        img {
            height: 60px;
            opacity: 0.5;
        }
    }
}

/* swiperPartners */

.swiperPartners {

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }

    .swiper-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 163px;
        height: 90px;
        padding: 20px 30px;
        border-radius: var(--bs-border-radius);
        margin: 0 2px;
        background-color: var(--theme-blue-light);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @include media-breakpoint-up(xl) {
        .swiper-img {
            width: 216px;
            height: 120px;
            margin: 0 10px;

            img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        .swiper-img {
            width: 285px;
            height: 160px;
            margin: 0 15px;
        }
    }
}

/* swiperReviews */

.swiperReviews {

    .swiper-wrapper {
        padding-bottom: 60px;
    }

    .swiper-slide {
        height: auto;
    }

    .card-review {
        height: 100%;
    }
}

/* swiperBlog */

.swiperBlog {

    .swiper-wrapper {
        padding-bottom: 60px;
    }

    .swiper-slide {
        height: auto;
    }

    .card-blog {
        height: 100%;
    }
}