/*------------------------------------------------------------------
[ variables ]*/

:root {
    // Theme fonts
    --theme-ff-main: 'Inter', sans-serif;
    --theme-ff-title: 'Inter', sans-serif;

    // Theme colors HEX
    --theme-white: #F8FEFF;
    --theme-gray: #ECECEC;
    --theme-stroke-gray: #E4E4E5;
    --theme-blue-light: #F0F7FF;
    --theme-blue-gradient: linear-gradient(180deg, #4251C3 0%, #7483F5 100%);
    --theme-blue: #4251F7;
    --theme-red-gradient: linear-gradient(180deg, #E13847 0%, #EB5665 100%);
    --theme-red: #F74251;
    --theme-black: #100102;

    // Theme colors RGB
    --theme-white-rgb: 248, 254, 255;
    --theme-gray-rgb: 236, 236, 236;
    --theme-stroke-gray-rgb: 228, 228, 229;
    --theme-blue-light-rgb: 240, 247, 255;
    --theme-blue-rgb: 66, 81, 247;
    --theme-red-rgb: 247, 66, 81;
    --theme-black-rgb: 16, 1, 2;

    // Theme titles sizes
    --fs-h1: clamp(36px, 4vw, 58px);
    --fs-h2: clamp(28px, 3.2vw, 52px);
    --fs-h3: clamp(22px, 2.2vw, 36px);
    --fs-h4: clamp(18px, 1.8vw, 30px);
    --fs-h5: clamp(16px, 1.2vw, 22px);
    --fs-h6: 14px;

    // Swiper
    --swiper-theme-color: var(--theme-blue);
}