/*------------------------------------------------------------------
[ buttons ]*/

.btn {
    --bs-btn-focus-box-shadow: none;
}

.btn-m {
    --bs-btn-padding-x: 24px;
    --bs-btn-padding-y: 12px;
}

.btn-l {
    --bs-btn-padding-y: 16px;
}

.btn-mobile-toggler {
    --bs-btn-padding-x: 14px;
    --bs-btn-padding-y: 12px;
}

.btn-primary {
    --bs-btn-color: var(--theme-white);
    --bs-btn-bg: var(--theme-blue);
    --bs-btn-border-color: var(--theme-blue);
    --bs-btn-hover-color: var(--theme-white);
    --bs-btn-hover-bg: var(--theme-black);
    --bs-btn-hover-border-color: var(--theme-black);
    --bs-btn-active-color: var(--theme-white);
    --bs-btn-active-bg: var(--theme-black);
    --bs-btn-active-border-color: var(--theme-black);
    --bs-btn-disabled-color: var(--theme-white);
    --bs-btn-disabled-bg: var(--theme-black);
    --bs-btn-disabled-border-color: var(--theme-black);
}

.btn-secondary {
    --bs-btn-color: var(--theme-white);
    --bs-btn-bg: var(--theme-red);
    --bs-btn-border-color: var(--theme-red);
    --bs-btn-hover-color: var(--theme-white);
    --bs-btn-hover-bg: var(--theme-black);
    --bs-btn-hover-border-color: var(--theme-black);
    --bs-btn-active-color: var(--theme-white);
    --bs-btn-active-bg: var(--theme-black);
    --bs-btn-active-border-color: var(--theme-black);
    --bs-btn-disabled-color: var(--theme-white);
    --bs-btn-disabled-bg: var(--theme-black);
    --bs-btn-disabled-border-color: var(--theme-black);
}

.btn-outline-black {
    --bs-btn-color: var(--theme-black);
    --bs-btn-border-color: var(--theme-black);
    --bs-btn-hover-color: var(--theme-white);
    --bs-btn-hover-bg: var(--theme-black);
    --bs-btn-hover-border-color: var(--theme-black);
    --bs-btn-active-color: var(--theme-white);
    --bs-btn-active-bg: var(--theme-black);
    --bs-btn-active-border-color: var(--theme-black);
    --bs-btn-disabled-color: var(--theme-black);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--theme-black);
    --bs-gradient: none;
}