/*------------------------------------------------------------------
[ general ]*/

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    flex: 1;
}

// Custom Scrollbar

// ::-webkit-scrollbar {
//     width: 8px;
//     height: 8px;
// }

// ::-webkit-scrollbar-track {
//     background-color: #F5F5F5;
// }

// ::-webkit-scrollbar-thumb {
//     background-color: #120E1E;
// }

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-blue-gradient {
    background-image: var(--theme-blue-gradient);
}

.bg-red-gradient {
    background-image: var(--theme-red-gradient);
}

.opacity-60 {
    opacity: 0.6 !important
}

.p-40 {
    padding: 40px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 1920px) {

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1900px;
    }
}