/*------------------------------------------------------------------
[ sections ]*/

.section {
    position: relative;
}

/*------------------------------------------------------------------
[ home page ]*/

/* section-home-hero */

.section-home-hero {
    position: relative;
    padding: 115px 0 20px;
    background-color: #000;

    .container-fluid {
        height: 100%;
    }

    .hero-grid {
        display: grid;
        grid-template-columns: 1fr;
        // grid-column-gap: 0;
        // grid-row-gap: 30px;
        height: 100%;

        .grid-col {
            min-width: 0;
            min-height: 0
        }
    }

    .hero-video-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .desktop-video {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;

            @media (max-width: 767px) {
                display: none;
            }
        }

        .mobile-image {

            img {
                max-width: 100%;
                height: auto;
            }

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    .card-hero-info {
        --bs-card-spacer-y: 20px;
        --bs-card-spacer-x: 15px;
        --bs-card-border-radius: var(--bs-border-radius-lg);
        --bs-card-bg: var(--theme-white);
        flex-grow: 1;
        margin-bottom: 30px;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card-btn-wrapper {
            margin-top: 15px;
        }

        @media (min-width: 992px) {
            --bs-card-spacer-y: 40px;
            --bs-card-spacer-x: 40px;
            margin-bottom: 20px;
        }
    }

    .hero-swiper-wrapper {
        min-width: 0;
    }

    @media (min-width: 992px) {
        height: calc(100vh - 140px);

        .hero-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* section-clients-slider */

.section-clients-slider {
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }

    @media (min-width: 992px) {
        margin-bottom: 80px;
    }
}

/* section-services-grid */

.section-services-grid {
    margin-bottom: 50px;

    .cards-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    @media (min-width: 768px) {
        margin-bottom: 70px;

        .cards-grid {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }

    @media (min-width: 992px) {
        margin-bottom: 80px;

        .cards-grid {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4px;
        }
    }

    @media (min-width: 1200px) {
        .cards-grid {
            gap: 20px;
        }
    }
}

/* section-projects-grid */

.section-projects-grid {
    margin-bottom: 50px;

    .cards-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    @media (min-width: 768px) {
        margin-bottom: 70px;

        .cards-grid {
            gap: 20px;
        }
    }

    @media (min-width: 992px) {
        margin-bottom: 80px;
    }

    @media (min-width: 1600px) {
        .cards-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* section-cta */

.section-cta {
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }

    @media (min-width: 992px) {
        margin-bottom: 80px;
    }
}

/* section-tariffs */

// .section-tariffs {}

/* section-partners-slider */

.section-partners-slider {
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }

    @media (min-width: 992px) {
        margin-bottom: 80px;
    }
}

/* section-reviews-slider */

.section-reviews-slider {
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }

    @media (min-width: 992px) {
        margin-bottom: 80px;
    }
}

/* section-blog-slider */

.section-blog-slider {
    margin-bottom: 60px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }

    @media (min-width: 992px) {
        margin-bottom: 40px;
    }
}

/* section-faq */

.section-faq {
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-bottom: 70px;
    }

    @media (min-width: 992px) {
        margin-bottom: 80px;
    }
}

.accordion-faq {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--theme-white);
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 0;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon-transform: rotate(-90deg);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0;
    --bs-accordion-active-color: var(--bs-body-color);
    --bs-accordion-active-bg: var(--theme-white);

    .accordion-item {
        overflow: hidden;
        padding: 15px;
        border: none !important;
        border-radius: var(--bs-border-radius-lg) !important;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        @media (min-width: 992px) {
            padding: 30px 40px;
        }
    }

    .accordion-divider {
        height: 10px;
    }

    .accordion-button {
        gap: 15px;
        border-radius: 0 !important;
        box-shadow: none !important;

        &::after {
            content: none;
        }

        .accordion-icon {
            flex-shrink: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border: 1px solid var(--theme-black);
            border-radius: var(--bs-border-radius);
            margin-left: auto;
    
            svg {
                transition: var(--bs-accordion-btn-icon-transition);
            }
        }
        
        &:not(.collapsed) {

            .accordion-icon svg {
                transform: var(--bs-accordion-btn-icon-transform);
            }
        }
    }


    .accordion-content {
        --bs-link-color-rgb: var(--theme-blue-rgb);
        --bs-link-hover-color-rgb: var(--theme-black-rgb);
        --bs-link-opacity: 0.6;
        max-width: 820px;
        color: #6A6367;
        font-size: clamp(13px, 1vw, 18px);
        font-weight: 300;

        a {
            text-decoration: underline;

            // &:hover {
            //     text-decoration: none;
            // }
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}