/*------------------------------------------------------------------
[ swiper ]*/

/* swiperPartners */

.swiperPartners {

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
    
    .swiper-img {
        padding: 40px 20px;

        img {
            height: 60px;
            opacity: 0.5;
        }
    }
}

/* swiperHeroGlassCards */

.swiperHeroGlassCards {
    --swiper-theme-color: var(--theme-white);
    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-inactive-color: var(--theme-white);
    --swiper-pagination-bullet-inactive-opacity: 0.4;

    .swiper-wrapper {
        margin-bottom: 28px;
    }
}