/*------------------------------------------------------------------
[ swiper ]*/

/* swiperClients */

.swiperClients {

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }
    
    .swiper-img {
        padding: 40px 20px;

        img {
            height: 60px;
            opacity: 0.5;
        }
    }
}

/* swiperHeroGlassCards */

.swiperHeroGlassCards {
    --swiper-theme-color: var(--theme-white);
    --swiper-pagination-bottom: 0;
    --swiper-pagination-bullet-inactive-color: var(--theme-white);
    --swiper-pagination-bullet-inactive-opacity: 0.4;

    .swiper-wrapper {
        margin-bottom: 28px;
    }
}

/* swiperPartners */

.swiperPartners {

    .swiper-wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    .swiper-slide {
        width: auto;
    }

    .swiper-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 216px;
        height: 120px;
        border-radius: var(--bs-border-radius);
        margin: 0 2px;
        background-color: var(--theme-blue-light);
        
        @media (min-width: 992px) {
            margin: 0 10px;
        }
    }
}

/* swiperReviews */

.swiperReviews {

    .swiper-wrapper {
        padding-bottom: 60px;
    }
}