/*------------------------------------------------------------------
[ typography ]*/

// Headings

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.75rem;
    font-family: var(--theme-ff-title);
    font-weight: 400;
}

h1,
.h1 {
    font-size: 1.625rem;
}

h2,
.h2 {
    font-size: 1.5rem;
}

h3,
.h3 {
    font-size: 1.375rem;
}

h4,
.h4 {
    font-size: 1rem;
}

h5,
.h5 {
    font-size: 1.125rem;
}

h6,
.h6 {
    font-size: 1rem;
}

@media screen and (min-width: 1200px) {

    h1,
    .h1 {
        font-size: 2rem;
    }

    h2,
    .h2 {
        font-size: 1.75rem;
    }

    h3,
    .h3 {
        font-size: 1.5rem;
    }

    h4,
    .h4 {
        font-size: 1.375rem;
    }

    h5,
    .h5 {
        font-size: 1.125rem;
    }

    h6,
    .h6 {
        font-size: 1.125rem;
    }
}

// Font Size

.fs-43 {
    font-size: var(--fs-l-43);
}

.fs-40 {
    font-size: var(--fs-l-40);
}

.fs-28 {
    font-size: var(--fs-l-28);
}

.fs-22 {
    font-size: var(--fs-l-22);
}

.fs-18 {
    font-size: var(--fs-l-18);
}

.fs-16 {
    font-size: var(--fs-l-16);
}

.fs-14 {
    font-size: var(--fs-l-14);
}

// Paragraph

p {
    margin-top: 0;
    margin-bottom: 1rem;
}