/*------------------------------------------------------------------
[ variables ]*/

:root {
    --theme-ff-main: 'Inter', sans-serif;
    --theme-ff-title: 'Inter', sans-serif;

    --bs-primary: #4251f7; 
    --bs-secondary: #f74251;
    --bs-light: #f8feff;
    --bs-dark: #100102;
    --bs-primary-rgb: 66, 81, 247;
    --bs-secondary-rgb: 247, 66, 81;
    --bs-light-rgb: 248, 254, 255;
    --bs-dark-rgb: 16, 1, 2;

    --bs-body-font-family: var(--theme-ff-main);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.25;
    --bs-body-color: #100102;
    --bs-body-color-rgb: 16, 1, 2;
    --bs-body-bg: #ececec;
    --bs-body-bg-rgb: 236, 236, 236;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #e4e4e5;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 16px;
    --bs-border-radius-sm: 8px; 
    --bs-border-radius-lg: 20px;
    --bs-border-radius-xl: 22px;
    --bs-border-radius-2xl: 24px;
    --bs-border-radius-pill: 50rem;

    --bs-link-color: #100102;
    --bs-link-color-rgb: 16, 1, 2;
    --bs-link-hover-color: #4251f7;
    --bs-link-hover-color-rgb: 66, 81, 247;

    --swiper-theme-color: #4251f7;
}