<div class="card card-blog">
    <div class="card-media">
        <a href="#">
            <img src="@@mediaThumbURL" alt="...">
        </a>
    </div>
    <div class="card-body">
        <div class="flex-grow-1">
            <div class="card-top">
                <div class="card-author">
                    <div class="card-avatar-wrapper">
                        <img src="@@authorAvatarURL" alt="...">
                    </div>
                    <div>
                        <a href="#">@@authorName</a>
                    </div>
                </div>
                <div class="card-date">
                    <span>
                        <svg width="20" height="20">
                            <use xlink:href="img/sprite.svg#icon-calendar"></use>
                        </svg>
                    </span>
                    <span>16.08.2025</span>
                </div>
            </div>
            <div class="h4 fw-medium mb-10">
                <a href="#">@@title</a>
            </div>
            <div class="card-description fw-light text-gray mb-10">Рекомендуйте наши услуги по разработке, дизайну, интеграции, SEO, ведению контекстной рекламы своим клиентам, партнёрам, знакомым и получайте реальные деньги. Сотрудничаем с юридическими и физическими лицами.</div>
            <div class="card-tags">
                @@if (context.tag1) {<a href="#">@@tag1</a>}
                @@if (context.tag2) {<a href="#">@@tag2</a>}
                @@if (context.tag3) {<a href="#">@@tag3</a>}
                @@if (context.tag4) {<a href="#">@@tag4</a>}
                @@if (context.tag5) {<a href="#">@@tag5</a>}
            </div>
        </div>
        <div class="card-bottom">
            <div class="card-views">
                <span>
                    <svg width="20" height="20">
                        <use xlink:href="img/sprite.svg#icon-eye"></use>
                    </svg>
                </span>
                <span>166</span>
            </div>
            <div class="card-read-time">
                <span>
                    <svg width="20" height="20">
                        <use xlink:href="img/sprite.svg#icon-timer"></use>
                    </svg>
                </span>
                <span>7 мин</span>
            </div>
        </div>
    </div>
</div>