<div class="card card-tariff-plan">
    <div class="card-body">
        <div class="card-heading">
            <div class="card-title">
                <span class="h3 fw-medium">@@title</span>
            </div>
            <div class="card-subtitle">
                <span>@@subtitle</span>
            </div>
            <div class="card-price">
                <span class="h2 fw-normal">@@price</span>
            </div>
        </div>
        <div class="card-sale-info">
            <div class="card-sale-info__wrapper">
                <div class="card-sale-info__without">
                    <span class="align-middle">Без тарифа: 100 000 ₽</span>
                </div>
                <div class="card-sale-info__savings">
                    <span class="align-middle">Экономия: 40 000 ₽</span>
                    <span>
                        <svg width="18" height="18">
                            <use xlink:href="img/sprite.svg#icon-question"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-heading-description">
            <div class="remark-item">
                <div class="remark-item__icon">
                    <img src="img/home/remark-icon-01.png" alt="...">
                </div>
                <div class="remark-item__body">
                    <div class="remark-title">Для кого:</div>
                    <div class="text-dark-blue fw-light">Новых сайтов, небольших проектов, начинающих предпринимателей</div>
                </div>
            </div>
            <div class="remark-item">
                <div class="remark-item__icon">
                    <img src="img/home/remark-icon-02.png" alt="...">
                </div>
                <div class="remark-item__body">
                    <div class="remark-title">Цель:</div>
                    <div class="text-dark-blue fw-light">обеспечить присутствие в поиске и начать привлекать первых клиентов в интернете</div>
                </div>
            </div>
        </div>
        <div class="card-btn-wrp">
            <button type="button" class="btn btn-m card-btn-more collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#collapsePlanDescription-@@id"
                aria-expanded="false"
                aria-controls="collapsePlanDescription-@@id">
                <span class="title-show-more align-middle">Подробнее</span>
                <span class="title-show-less align-middle">Скрыть</span>
                <svg width="14" height="14">
                    <use xlink:href="img/sprite.svg#chevron-down"></use>
                </svg>
            </button>
        </div>
        <div class="collapse" id="collapsePlanDescription-@@id">
            <div class="card-collapse-description">
                <!-- remark-list-title -->
                <div class="remark-item remark-list-title">
                    <div class="remark-item__body">
                        <div>Преимущества</div>
                    </div>
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-03.png" alt="...">
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Быстрый запуск SEO</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Настройка базового продвижения</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Поддержка на каждом этапе</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Дальнейшие рекомендации по продвижению</div>
                    </div>
                </div>
                <!-- remark-list-title -->
                <div class="remark-item remark-list-title">
                    <div class="remark-item__body">
                        <div>Что входит</div>
                    </div>
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-04.png" alt="...">
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Разработка стратегии продвижения</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Базовый аудит сайта</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Анализ конкурентов</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Первичная оптимизация страниц</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Настройка базовой аналитики</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Прописывание уникальных мета-тегов</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>До 10 оптимизируемых разделов</div>
                    </div>
                </div>
                <div class="remark-item remark-list-item">
                    <div class="remark-item__icon">
                        <img src="img/home/remark-icon-check.png" alt="...">
                    </div>
                    <div class="remark-item__body">
                        <div>Отчёт раз в месяц</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-bottom">
        <a href="#" class="btn btn-outline-black btn-l btn-animated w-100">
            <div class="animated-content">
                <div class="animated-content__default">
                    <span>Получить предложение</span>
                    <span>
                        <svg width="14" height="14">
                            <use xlink:href="img/sprite.svg#btn-arrow-up"></use>
                        </svg>
                    </span>
                </div>
                <div class="animated-content__hidden">
                    <span>Получить предложение</span>
                    <span>
                        <svg width="14" height="14">
                            <use xlink:href="img/sprite.svg#btn-arrow-down"></use>
                        </svg>
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>