<div class="card card-review">
    <div class="card-body">
        <div class="card-heading">
            <div class="card-title h4 fw-medium">@@title</div>
            <div class="card-description fw-light text-black-60 mb-0">
                @@description
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <div class="h4 fw-medium mb-1">@@author</div>
                <div class="fs-small text-black-60 lh-sm">@@job</div>
            </div>
            <div>
                <a href="#" class="btn btn-outline-black btn-l btn-animated">
                    <div class="animated-content">
                        <div class="animated-content__default">
                            <span>Читать</span>
                            <span>
                                <svg width="14" height="14">
                                    <use xlink:href="img/sprite.svg#btn-arrow-up"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="animated-content__hidden">
                            <span>Читать</span>
                            <span>
                                <svg width="14" height="14">
                                    <use xlink:href="img/sprite.svg#btn-arrow-down"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>