<div class="card card-service">
    <img class="card-bg-img" src="@@bgImgURL">
    <svg class="card-svg-arrow" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <path d="M2.10005 1.39995L26.6 1.39995M26.6 1.39995L26.6 25.9M26.6 1.39995L1.05005 26.95" stroke="#100102" stroke-width="2"/>
    </svg>
    <div class="card-body">
        <div class="h3 fw-medium mb-1">
            <a href="services-single.html" class="stretched-link">@@title</a>
        </div>
        <div class="h5 fw-light text-black-60 mb-0">@@subtitle</div>
    </div>
</div>