<div class="card card-blog">
    <div class="card-media">
        <a href="blog-single.html">
            <img src="@@mediaThumbURL" alt="...">
        </a>
    </div>
    <div class="card-body">
        <div class="flex-grow-1">
            <div class="card-top">
                <div class="card-author fs-small">
                    <div class="card-avatar-wrapper">
                        <img src="@@authorAvatarURL" alt="...">
                    </div>
                    <div>
                        <a href="blog-author.html">@@authorName</a>
                    </div>
                </div>
                <div class="card-date fs-small">
                    <span>
                        <svg width="20" height="20">
                            <use xlink:href="img/sprite.svg#icon-calendar"></use>
                        </svg>
                    </span>
                    <span>16.08.2025</span>
                </div>
            </div>
            <div class="card-title h4 fw-medium">
                <a href="blog-single.html">@@title</a>
            </div>
            <div class="card-description h6 fw-light text-gray lh-body">Рекомендуйте наши услуги по разработке, дизайну, интеграции, SEO, ведению контекстной рекламы своим клиентам, партнёрам, знакомым и получайте реальные деньги. Сотрудничаем с юридическими и физическими лицами.</div>
            <div class="card-tags">
                @@if (context.tag1) {<a href="#" class="tag-pill-primary">@@tag1</a>}
                @@if (context.tag2) {<a href="#" class="tag-pill-primary">@@tag2</a>}
                @@if (context.tag3) {<a href="#" class="tag-pill-primary">@@tag3</a>}
                @@if (context.tag4) {<a href="#" class="tag-pill-primary">@@tag4</a>}
                @@if (context.tag5) {<a href="#" class="tag-pill-primary">@@tag5</a>}
            </div>
        </div>
        <div class="card-bottom">
            <div class="card-views fs-small lh-1">
                <span>
                    <svg width="20" height="20">
                        <use xlink:href="img/sprite.svg#icon-eye"></use>
                    </svg>
                </span>
                <span>166</span>
            </div>
            <div class="card-read-time fs-small lh-1">
                <span>
                    <svg width="20" height="20">
                        <use xlink:href="img/sprite.svg#icon-timer"></use>
                    </svg>
                </span>
                <span>7 мин</span>
            </div>
        </div>
    </div>
</div>