<div class="card card-partner">
    <div class="content-default">
        <div class="d-flex align-items-center justify-content-center w-100 h-100 p-40">
            <img class="card-img-preview" src="@@imgPreview" alt="...">
        </div>
    </div>
    <div class="content-hidden">
        <div class="card-body">
            <div class="h3 fw-medium mb-10">@@title</div>
            <div class="fw-light text-black-60 mb-30">@@description</div>
            <div class="d-flex justify-content-end">
                <img class="img-fluid" src="@@imgSmall" alt="...">
            </div>
        </div>
    </div>
</div>