<div class="card card-project">
    <div class="card-media">
        <div class="bg-img w-100 h-100" style="background-image: url(@@imgThumbURL);"></div>
    </div>
    <div class="card-body">
        <div class="card-head">
            <div class="row gy-3">
                <div class="col-xxl-5">
                    <img class="img-fluid" src="@@logoURL">
                </div>
                <div class="col-xxl">
                    <div class="card-tags">
                        @@if (context.tag1) {<a href="#">@@tag1</a>}
                        @@if (context.tag2) {<a href="#">@@tag2</a>}
                        @@if (context.tag3) {<a href="#">@@tag3</a>}
                        @@if (context.tag4) {<a href="#">@@tag4</a>}
                        @@if (context.tag5) {<a href="#">@@tag5</a>}
                    </div>
                </div>
            </div>
        </div>
        <div class="h3 fw-medium mb-1">@@title</div>
        <div class="h5 fw-light text-muted mb-0">@@subtitle</div>
        <div class="card-features-wrapper">
            <div class="card-features">
                <!-- Фича 1 -->
                @@if (context.feature1) {
                <div class="card-features__item">
                    <div class="h3 fw-medium mb-2">@@feature1.value</div>
                    <div class="h5 fw-light text-muted mb-0">@@feature1.text</div>
                </div>
                }
                <!-- Фича 2 -->
                @@if (context.feature2) {
                <div class="card-features__item">
                    <div class="h3 fw-medium mb-2">@@feature2.value</div>
                    <div class="h5 fw-light text-muted mb-0">@@feature2.text</div>
                </div>
                }
                <!-- Фича 3 -->
                @@if (context.feature3) {
                <div class="card-features__item">
                    <div class="h3 fw-medium mb-2">@@feature3.value</div>
                    <div class="h5 fw-light text-muted mb-0">@@feature3.text</div>
                </div>
                }
                <!-- Фича 4 -->
                @@if (context.feature4) {
                <div class="card-features__item">
                    <div class="h3 fw-medium mb-2">@@feature4.value</div>
                    <div class="h5 fw-light text-muted mb-0">@@feature4.text</div>
                </div>
                }
            </div>
        </div>
        <div class="card-btn-wrapper">
            <a href="#" class="btn btn-outline-black btn-l btn-animated w-100">
                <div class="animated-content">
                    <div class="animated-content__default">
                        <span>Подробнее</span>
                        <span>
                            <svg width="14" height="14">
                                <use xlink:href="img/sprite.svg#btn-arrow-up"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="animated-content__hidden">
                        <span>Подробнее</span>
                        <span>
                            <svg width="14" height="14">
                                <use xlink:href="img/sprite.svg#btn-arrow-down"></use>
                            </svg>
                        </span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>