<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>

    <link rel="stylesheet" href="css/fancybox.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body class="@@if (headerAbsolute) {header-absolute}">

    <header class="header" id="site-header">
        <div class="container-fluid">
            <div class="header-row">

                <!-- logo -->
                <div class="header-row__logo">
                    <a href="index.html">
                        <img src="img/logo.svg" alt="AMD Media">
                    </a>
                </div>

                <!-- navigation -->
                <nav class="header-row__navigation">
                    <ul class="primary-nav">
                        <li class="nav-item">
                            <a href="projects.html">Проекты</a>
                        </li>
                        <li class="nav-item has-mega-menu">
                            <a href="services.html">Услуги</a>
                        </li>
                        <li class="nav-item ">
                            <a href="#">Партнёры</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a href="blog.html">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>

                <!-- btn-box -->
                <div class="header-row__btn-box">
                    <a href="tel:+74951595901" class="btn btn-outline-black btn-m btn-animated">
                        <div class="animated-content">
                            <div class="animated-content__default">
                                <span>+7 495 159-59-01</span>
                            </div>
                            <div class="animated-content__hidden">
                                <span>+7 495 159-59-01</span>
                            </div>
                        </div>
                    </a>
                    <button type="button" class="btn btn-primary btn-m btn-animated">
                        <div class="animated-content">
                            <div class="animated-content__default">
                                <span>Связаться</span>
                                <span>
                                    <svg width="14" height="14">
                                        <use xlink:href="img/sprite.svg#btn-arrow-up"/>
                                    </svg>
                                </span>
                            </div>
                            <div class="animated-content__hidden">
                                <span>Связаться</span>
                                <span>
                                    <svg width="14" height="14">
                                        <use xlink:href="img/sprite.svg#btn-arrow-down"/>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </button>
                </div>

                <!-- mobile-navigation -->
                <div class="header-row__mobile-navigation">
                    <button type="button" class="btn btn-outline-black btn-m">
                        <span class="fs-14">Связаться</span>
                        <svg width="10" height="10">
                            <use xlink:href="img/sprite.svg#btn-arrow-up"/>
                        </svg>
                    </button>
                    <button type="button" class="btn btn-outline-black btn-icon-m d-md-none">
                        <span>
                            <svg width="30" height="30">
                                <use xlink:href="img/sprite.svg#icon-phone"/>
                            </svg>
                        </span>
                    </button>
                    <button type="button" class="btn-mobile-toggler btn btn-primary btn-icon-m">
                        <span>
                            <svg width="20" height="16">
                                <use xlink:href="img/sprite.svg#icon-burger"/>
                            </svg>
                        </span>
                    </button>
                </div>

            </div>
        </div>
    </header>