<div class="modal modal-consultation fade" id="modalConsultation" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="position-relative overflow-hidden bg-blue-gradient rounded-3">
                <!-- img -->
                <img class="bg-absolute-img hide-on-mobile" src="img/footer/bg-modal-consultation.png" alt="...">
                <!-- modal-body -->
                <div class="modal-body position-relative bg-white rounded-3">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="mb-30">
                        <div class="h4 fw-medium mb-10">Хотите свежий редизайн сайта?</div>
                        <div class="fs-5 fw-medium">Расскажите о&nbsp;проекте&nbsp;— мы&nbsp;подготовим план и&nbsp;пример стоимости</div>
                    </div>
                    <!-- form -->
                    <form action="#">
                        <div class="d-grid grid-cols-2 gap-20 gap-md-10">
                            <div class="col-span-2 col-span-sm-1">
                                <input type="text" class="form-control input-l" placeholder="Ваше имя">
                            </div>
                            <div class="col-span-2 col-span-sm-1">
                                <input type="text" class="form-control input-l maskPhone" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div class="col-span-2">
                                <input type="text" class="form-control input-l" placeholder="Ссылка на ваш сайт">
                            </div>
                            <div class="col-span-2">
                                <textarea class="form-control" rows="4" placeholder="Что не устраивает сайчас?"></textarea>
                            </div>
                            <div class="col-span-2 mt-10 mt-xl-30">
                                <a href="#modalSuccess" class="btn btn-primary btn-l btn-animated w-100" data-bs-toggle="modal">
                                    <div class="animated-content">
                                        <div class="animated-content__default">
                                            <span>Отправить</span>
                                        </div>
                                        <div class="animated-content__hidden">
                                            <span>Отправить</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-span-2">
                                <div class="form-check max-w-500">
                                    <input type="checkbox" class="form-check-input" id="consultationCheck">
                                    <label class="form-check-label fs-x-small" for="consultationCheck">Я даю своё согласие на&nbsp;обработку персональных данных и&nbsp;соглашаюсь с&nbsp;политикой конфиденциальности</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>