<section class="section section-404">
    <div class="container-fluid">
        <div class="d-flex flex-column align-items-center">

            <div class="text-center mb-20 mb-xxl-30">
                <img class="img-fluid rounded-3" src="img/404/oooh-chris-pratt.gif" alt="404">
            </div>

            <div class="text-center mb-20 mb-xxl-30">
                <div class="h1 fw-medium mb-10">404</div>
                <div class="h4 fw-medium mb-10 mb-xl-20">Ой, такой страницы нет, или что-то поломалось!</div>
                <div class="h5 text-black-60">Хотите уволить программиста из-за ошибки?</div>
            </div>

            <div class="d-flex flex-wrap gap-10">
                <a href="index.html" class="btn btn-outline-black btn-l hover-disabled-js" style="transition: 0.3s ease;">
                    <span>Нет, на главную</span>
                </a>
                <a href="#" class="btn btn-primary btn-l" id="runaway-btn">
                    <span>Уволить программиста!</span>
                </a>
            </div>

        </div>
    </div>
</section>