/*!
 * Theme: AMD Media v2
 * Author: Andrew G
 * Version: 1.0.0
 */

// vendors
@import "vendors/bootstrap";
@import "vendors/swiper";
@import "vendors/fancybox";

// components
@import 'components/fonts';
@import 'components/variables';
@import 'components/general';
@import 'components/typography';
@import 'components/links';
@import 'components/forms';
@import 'components/buttons';
@import 'components/swiper';
@import 'components/cards';
@import 'components/header';
@import 'components/footer';
@import 'components/sections';